<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myStudy.dao.BaseMapper">
	
	<!-- 查询过滤 -->
	<sql id="Query_Filter">
		<if test="queryFilters != null">
	        <where>
	    		<foreach collection="queryFilters" item="queryFilter" separator=" and ">
	    			<if test="queryFilter.columnName != null and queryFilter.value != null">
		    			<choose>
		    				<when test="queryFilter.operator.value == 0">${queryFilter.columnName} like CONCAT('%', #{queryFilter.value}, '%')</when>
		    				<when test="queryFilter.operator.value == 1">${queryFilter.columnName} = #{queryFilter.value}</when>
		    				<when test="queryFilter.operator.value == 2">${queryFilter.columnName} <![CDATA[<>]]> #{queryFilter.value}</when>
		    				<when test="queryFilter.operator.value == 3">${queryFilter.columnName} <![CDATA[<]]> #{queryFilter.value}</when>
		    				<when test="queryFilter.operator.value == 4">${queryFilter.columnName} <![CDATA[<=]]> #{queryFilter.value}</when>
		    				<when test="queryFilter.operator.value == 5">${queryFilter.columnName} > #{queryFilter.value}</when>
		    				<when test="queryFilter.operator.value == 6">${queryFilter.columnName} >= #{queryFilter.value}</when>
		    				<when test="queryFilter.operator.value == 7">${queryFilter.columnName} in (${queryFilter.value})</when>
		    				<when test="queryFilter.operator.value == 8">${queryFilter.columnName} not in (${queryFilter.value})</when>
		    				<when test="queryFilter.operator.value == 9">${queryFilter.columnName} is null</when>
		    				<when test="queryFilter.operator.value == 10">${queryFilter.columnName} is not null</when>
		    			</choose>
	    			</if>
	    		</foreach>
	        </where>
        </if>
	</sql>
	
	<!-- 排序 -->
	<sql id="Sort">
        <if test="sortColumns != null">
	        <foreach collection="sortColumns" item="sortColumn" open=" order by " separator=",">
	        	${sortColumn.columnName} <if test="sortColumn.isDescend">desc</if>
	        </foreach>
        </if>
	</sql>
	
	<!-- 分页 -->
	<sql id="Pagination">
<!--         <if test="paged"> -->
<!--         	limit #{pageNumber},#{pageSize} -->
<!--         </if> -->
	</sql>
</mapper>