<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myStudy.dao.IMenuDao">
	<sql id="Base_Column_List">
		ID, NAME, PARENT_ID, URL, ICON, ORDER_NUM, STATUS, REMARK, CREATOR, CREATE_TIME, UPDATE_PERSON, UPDATE_TIME, VERSION,
		IF(STATUS=1,'有效','无效') AS STATUS_DES
	</sql>
	<sql id="Base_Table">T_MENU</sql>

	<select id="getById" parameterType="Integer" resultType="org.myStudy.entity.Menu">
        select <include refid="Base_Column_List" />
    	from <include refid="Base_Table" />
		where ID = #{id,jdbcType=INTEGER}
	</select>

	<select id="getAll" resultType="org.myStudy.entity.Menu">
        select <include refid="Base_Column_List" />
    	from <include refid="Base_Table" />
	</select>

	<!-- 获取集合 -->
	<select id="getList" parameterType="org.myStudy.dto.Query" resultType="org.myStudy.entity.Menu">
        select <include refid="Base_Column_List" />
    	from <include refid="Base_Table" />
		<include refid="org.myStudy.dao.BaseMapper.Query_Filter" />
		<include refid="org.myStudy.dao.BaseMapper.Sort" />
		<include refid="org.myStudy.dao.BaseMapper.Pagination" />
	</select>
	
	<!-- 获取分页查询结果的总数 -->
	<select id="getListTotal" parameterType="org.myStudy.dto.Query" resultType="int">
        select count(1)
    	from <include refid="Base_Table" />
		<include refid="org.myStudy.dao.BaseMapper.Query_Filter" />
	</select>

	<delete id="deleteById" parameterType="Integer">
		delete from <include refid="Base_Table" />
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="add" parameterType="org.myStudy.entity.Menu" useGeneratedKeys="true" keyProperty="id">
		insert into <include refid="Base_Table" />
			(NAME, PARENT_ID, URL, ICON, ORDER_NUM, STATUS,
			REMARK, CREATOR, CREATE_TIME, UPDATE_PERSON, UPDATE_TIME, VERSION)
		values (#{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER},#{url,jdbcType=VARCHAR}, 
			#{icon,jdbcType=VARCHAR}, #{ordernNum,jdbcType=INTEGER}, #{status,jdbcType=TINYINT},
			#{remark,jdbcType=VARCHAR}, #{creator,jdbcType=INTEGER}, 
			now(), #{updatePerson,jdbcType=INTEGER}, now(), 0)
	</insert>
	
	<update id="edit" parameterType="org.myStudy.entity.Menu">
		update <include refid="Base_Table" />
		set NAME = #{name,jdbcType=VARCHAR},
			PARENT_ID = #{parentId,jdbcType=INTEGER},
			URL = #{url,jdbcType=VARCHAR},
			ICON = #{icon,jdbcType=VARCHAR},
			ORDER_NUM = #{orderNum,jdbcType=INTEGER},
			STATUS = #{status,jdbcType=TINYINT},
			REMARK = #{remark,jdbcType=VARCHAR},
			UPDATE_PERSON = #{updatePerson,jdbcType=INTEGER},
			UPDATE_TIME = now(),
			VERSION = VERSION + 1
		where ID = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="editSelective" parameterType="org.myStudy.entity.Menu">
		update <include refid="Base_Table" />
		<set>
			<if test="name != null">NAME = #{name,jdbcType=VARCHAR},</if>
			<if test="parentId != null">PARENT_ID = #{parentId,jdbcType=INTEGER},</if>
			<if test="url != null">URL = #{url,jdbcType=VARCHAR},</if>
			<if test="icon != null">ICON = #{icon,jdbcType=VARCHAR},</if>
			<if test="orderNum != null">ORDER_NUM = #{orderNum,jdbcType=INTEGER},</if>
			<if test="status != null">STATUS = #{status,jdbcType=TINYINT},</if>
			<if test="remark != null">REMARK = #{remark,jdbcType=VARCHAR},</if>
			UPDATE_PERSON = #{updatePerson,jdbcType=INTEGER},
			UPDATE_TIME = now(),
			VERSION = VERSION + 1,
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>

	<select id="getChildrenByParentId" parameterType="Integer" resultType="org.myStudy.entity.Menu">
		select <include refid="Base_Column_List" />
		from <include refid="Base_Table" />
		where PARENT_ID = #{_parameter}
		order by ORDER_NUM
	</select>
</mapper>