<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myStudy.dao.IRelRoleMenuDao">
	<resultMap id="BaseResultMap" type="org.myStudy.entity.RelRoleMenu">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
		<result column="MENU_ID" jdbcType="INTEGER" property="menuId" />
		<result column="CREATOR" jdbcType="INTEGER" property="creator" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="UPDATE_PERSON" jdbcType="INTEGER" property="updatePerson" />
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="VERSION" jdbcType="SMALLINT" property="version" />
	</resultMap>
	<sql id="Base_Column_List">
	  ID, ROLE_ID, MENU_ID, CREATOR, CREATE_TIME, UPDATE_PERSON, UPDATE_TIME, VERSION
	</sql>
	<sql id="Base_Table">T_REL_ROLE_MENU</sql>

	<select id="getById" parameterType="Integer" resultType="org.myStudy.entity.RelRoleMenu">
        select <include refid="Base_Column_List" />
    	from <include refid="Base_Table" />
		where ID = #{id,jdbcType=INTEGER}
	</select>

	<select id="getAll" resultType="org.myStudy.entity.RelRoleMenu">
        select <include refid="Base_Column_List" />
    	from <include refid="Base_Table" />
	</select>
	
	<!-- 获取集合 -->
	<select id="getList" parameterType="org.myStudy.dto.Query" resultType="org.myStudy.entity.RelRoleMenu">
        select <include refid="Base_Column_List" />
    	from <include refid="Base_Table" />
		<include refid="org.myStudy.dao.BaseMapper.Query_Filter" />
		<include refid="org.myStudy.dao.BaseMapper.Sort" />
		<include refid="org.myStudy.dao.BaseMapper.Pagination" />
	</select>
	
	<!-- 获取分页查询结果的总数 -->
	<select id="getListTotal" parameterType="org.myStudy.dto.Query" resultType="int">
        select count(1)
    	from <include refid="Base_Table" />
		<include refid="org.myStudy.dao.BaseMapper.Query_Filter" />
	</select>
	
	<delete id="deleteById" parameterType="int">
		delete from <include refid="Base_Table" />
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="add" parameterType="org.myStudy.entity.RelRoleMenu" useGeneratedKeys="true" keyProperty="id">
		insert into <include refid="Base_Table" />
			(ROLE_ID, MENU_ID, CREATOR, CREATE_TIME, UPDATE_PERSON, UPDATE_TIME, VERSION)
		values (#{roleId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER},
			#{creator,jdbcType=INTEGER}, now(), #{updatePerson,jdbcType=INTEGER}, now(), 0)
	</insert>
	
	<update id="edit" parameterType="org.myStudy.entity.RelUserRole">
		update <include refid="Base_Table" />
		set ROLE_ID = #{roleId,jdbcType=INTEGER},
			MENU_ID = #{menuId,jdbcType=INTEGER},
			UPDATE_PERSON = #{updatePerson,jdbcType=INTEGER},
			UPDATE_TIME = now(),
			VERSION = VERSION + 1
		where ID = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 批量添加 -->
	<insert id="addBatch">
		insert ignore into <include refid="Base_Table" />
			(ROLE_ID, MENU_ID, CREATOR, CREATE_TIME, UPDATE_PERSON, UPDATE_TIME, VERSION)
		values 
		<foreach collection="entities" item="entity" separator=",">
			(#{entity.roleId,jdbcType=INTEGER}, #{entity.menuId,jdbcType=INTEGER},
			#{entity.creator,jdbcType=INTEGER}, now(), #{entity.updatePerson,jdbcType=INTEGER}, now(), 0)
		</foreach>
	</insert>
	
	<!-- 批量删除 -->
	<delete id="deleteByRoleId">
		delete from <include refid="Base_Table" />
		where ROLE_ID = #{roleId,jdbcType=INTEGER}
		<if test="query != null and query.queryFilters != null">
    		<foreach collection="query.queryFilters" item="queryFilter" open=" and " separator=" and ">
    			<choose>
    				<when test="queryFilter.operator.value == 1">${queryFilter.columnName} = #{queryFilter.value}</when>
    				<when test="queryFilter.operator.value == 7">${queryFilter.columnName} in (${queryFilter.value})</when>
    				<when test="queryFilter.operator.value == 8">${queryFilter.columnName} not in (${queryFilter.value})</when>
    			</choose>
    		</foreach>
        </if>
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteByMenuId">
		delete from <include refid="Base_Table" />
		where MENU_ID = #{menuId,jdbcType=INTEGER}
		<if test="query != null and query.queryFilters != null">
    		<foreach collection="query.queryFilters" item="queryFilter" open=" and " separator=" and ">
    			<choose>
    				<when test="queryFilter.operator.value == 1">${queryFilter.columnName} = #{queryFilter.value}</when>
    				<when test="queryFilter.operator.value == 7">${queryFilter.columnName} in (${queryFilter.value})</when>
    				<when test="queryFilter.operator.value == 8">${queryFilter.columnName} not in (${queryFilter.value})</when>
    			</choose>
    		</foreach>
        </if>
	</delete>
</mapper>