<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myStudy.dao.IRoleDao">
	<sql id="Base_Column_List">
		ID, NAME, STATUS, REMARK, CREATOR, CREATE_TIME, UPDATE_PERSON, UPDATE_TIME, VERSION
	</sql>
	<sql id="Base_Table">t_role</sql>

	<select id="getById" parameterType="Integer" resultType="org.myStudy.entity.Role">
        select <include refid="Base_Column_List" />
    	from <include refid="Base_Table" />
		where ID = #{id,jdbcType=INTEGER}
	</select>

	<select id="getAll" resultType="org.myStudy.entity.Role">
        select <include refid="Base_Column_List" />
    	from <include refid="Base_Table" />
	</select>
	
	<!-- 获取集合 -->
	<select id="getList" parameterType="org.myStudy.dto.Query" resultType="org.myStudy.entity.Role">
        select <include refid="Base_Column_List" />
    	from <include refid="Base_Table" />
		<include refid="org.myStudy.dao.BaseMapper.Query_Filter" />
		<include refid="org.myStudy.dao.BaseMapper.Sort" />
		<include refid="org.myStudy.dao.BaseMapper.Pagination" />
	</select>
	
	<!-- 获取分页查询结果的总数 -->
	<select id="getListTotal" parameterType="org.myStudy.dto.Query" resultType="int">
        select count(1)
    	from <include refid="Base_Table" />
		<include refid="org.myStudy.dao.BaseMapper.Query_Filter" />
	</select>

	<delete id="deleteById" parameterType="int">
		delete from <include refid="Base_Table" />
		where ID = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="add" parameterType="org.myStudy.entity.Role" useGeneratedKeys="true" keyProperty="id">
		insert into <include refid="Base_Table" />
			(NAME, STATUS, REMARK, CREATOR, CREATE_TIME, UPDATE_PERSON, UPDATE_TIME, VERSION)
		values (#{name,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, 
			#{creator,jdbcType=INTEGER}, now(), #{updatePerson,jdbcType=INTEGER}, now(), 0)
	</insert>
	
	<insert id="addSelective" parameterType="org.myStudy.entity.Role" useGeneratedKeys="true" keyProperty="id">
		insert into <include refid="Base_Table" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				NAME,
			</if>
			STATUS,
			<if test="remark != null">
				REMARK,
			</if>
			CREATOR,
			CREATE_TIME,
			UPDATE_PERSON,
			UPDATE_TIME,
			VERSION,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			#{status,jdbcType=TINYINT},
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			#{creator,jdbcType=INTEGER},
			now(),
			#{updatePerson,jdbcType=INTEGER},
			now(),
			0,
		</trim>
	</insert>
	
	<update id="edit" parameterType="org.myStudy.entity.Role">
		update <include refid="Base_Table" />
			set NAME = #{name,jdbcType=VARCHAR},
			STATUS = #{status,jdbcType=TINYINT},
			REMARK = #{remark,jdbcType=VARCHAR},
			UPDATE_PERSON = #{updatePerson,jdbcType=INTEGER},
			UPDATE_TIME = now(),
			VERSION = VERSION + 1
		where ID = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="editSelective" parameterType="org.myStudy.entity.Role">
		update <include refid="Base_Table" />
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=TINYINT},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="updatePerson != null">
				UPDATE_PERSON = #{updatePerson,jdbcType=INTEGER},
			</if>
			UPDATE_TIME = now(),
			VERSION = VERSION + 1,
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>