<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myStudy.dao.IRoleDao">
	<sql id="Base_Column_List">
		ID, NAME, STATUS, REMARK, CREATOR, CREATE_TIME, UPDATE_PERSON,
		UPDATE_TIME, VERSION
	</sql>

	<select id="getById" parameterType="Integer" resultType="org.myStudy.entity.Role">
		select
		<include refid="Base_Column_List" />
		from t_role
		where ID = #{id,jdbcType=INTEGER}
	</select>

	<select id="getAll" resultType="org.myStudy.entity.Role">
		select
		<include refid="Base_Column_List" />
		from t_role
	</select>
	
	<!-- 获取分页列表 -->
	<select id="getPageList" parameterType="org.myStudy.dto.PageQuery" resultType="org.myStudy.entity.Role">  
        select 
		<include refid="Base_Column_List" />
    	from t_role t 
        <where>
        	<if test="search != null and !search.trim().equals('')">
        		(t.NAME like CONCAT('%', #{search}, '%'))
        	</if>
        </where>
        <if test="sort != null and !sort.equals('')">
        	order by ${sort} ${order}
        </if>
        limit ${offset},${limit}
	</select>
	
	<!-- 获取分页查询结果的总数 -->
	<select id="getPageListTotal" parameterType="org.myStudy.dto.PageQuery" resultType="int">
		select count(1) from t_role t
        <where>
        	<if test="search != null and !search.trim().equals('')">
        		(t.NAME like CONCAT('%', #{search}, '%'))
        	</if>
        </where>
	</select>

	<delete id="deleteById" parameterType="int">
		delete from t_role
		where ID = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="add" parameterType="org.myStudy.entity.Role" useGeneratedKeys="true" keyProperty="id">
		insert into t_role (NAME, STATUS, REMARK, CREATOR, CREATE_TIME, UPDATE_PERSON, UPDATE_TIME, VERSION)
		values (#{name,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, 
			#{creator,jdbcType=INTEGER}, now(), #{updatePerson,jdbcType=INTEGER}, now(), 0)
	</insert>
	
	<insert id="addSelective" parameterType="org.myStudy.entity.Role" useGeneratedKeys="true" keyProperty="id">
		insert into t_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				NAME,
			</if>
			STATUS,
			<if test="remark != null">
				REMARK,
			</if>
			CREATOR,
			CREATE_TIME,
			UPDATE_PERSON,
			UPDATE_TIME,
			VERSION,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			#{status,jdbcType=TINYINT},
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			#{creator,jdbcType=INTEGER},
			now(),
			#{updatePerson,jdbcType=INTEGER},
			now(),
			0,
		</trim>
	</insert>
	
	<update id="edit" parameterType="org.myStudy.entity.Role">
		update t_role
			set NAME = #{name,jdbcType=VARCHAR},
			STATUS = #{status,jdbcType=TINYINT},
			REMARK = #{remark,jdbcType=VARCHAR},
			UPDATE_PERSON = #{updatePerson,jdbcType=INTEGER},
			UPDATE_TIME = now(),
			VERSION = VERSION + 1
		where ID = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="editSelective" parameterType="org.myStudy.entity.Role">
		update t_role
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=TINYINT},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="updatePerson != null">
				UPDATE_PERSON = #{updatePerson,jdbcType=INTEGER},
			</if>
			UPDATE_TIME = now(),
			VERSION = VERSION + 1,
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>