<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myStudy.dao.IUserDao">
	<sql id="Base_Column_List">
		ID, USER_NAME, PASSWORD, NICKNAME, REAL_NAME, PHONE, EMAIL, STATUS,
		REMARK, CREATOR, CREATE_TIME, UPDATE_PERSON, UPDATE_TIME, VERSION,
		IF(STATUS=1,'有效','无效') AS STATUS_DES
	</sql>
	<sql id="Base_Table">T_USER</sql>

	<select id="getById" parameterType="Integer" resultType="org.myStudy.entity.User">
        select <include refid="Base_Column_List" />
    	from <include refid="Base_Table" />
		where ID = #{id,jdbcType=INTEGER}
	</select>

	<select id="getAll" resultType="org.myStudy.entity.User">
        select <include refid="Base_Column_List" />
    	from <include refid="Base_Table" />
	</select>
	
	<!-- 获取集合 -->
	<select id="getList" parameterType="org.myStudy.dto.Query" resultType="org.myStudy.entity.User">
        select <include refid="Base_Column_List" />
    	from <include refid="Base_Table" />
		<include refid="org.myStudy.dao.BaseMapper.Query_Filter" />
		<include refid="org.myStudy.dao.BaseMapper.Sort" />
		<include refid="org.myStudy.dao.BaseMapper.Pagination" />
	</select>
	
	<!-- 获取分页查询结果的总数 -->
	<select id="getListTotal" parameterType="org.myStudy.dto.Query" resultType="int">
        select count(1)
    	from <include refid="Base_Table" />
		<include refid="org.myStudy.dao.BaseMapper.Query_Filter" />
	</select>
	
	<delete id="deleteById" parameterType="int">
		delete from <include refid="Base_Table" />
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="add" parameterType="org.myStudy.entity.User" useGeneratedKeys="true" keyProperty="id">
		insert into <include refid="Base_Table" />
			(USER_NAME, PASSWORD, NICKNAME, REAL_NAME, PHONE, EMAIL, STATUS, REMARK,
			CREATOR, CREATE_TIME, UPDATE_PERSON, UPDATE_TIME, VERSION)
		values (#{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
			#{nickname,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR},
			#{creator,jdbcType=INTEGER}, now(), #{updatePerson,jdbcType=INTEGER}, now(), 0)
	</insert>
	
	<update id="edit" parameterType="org.myStudy.entity.User">
		update <include refid="Base_Table" />
		set USER_NAME = #{userName,jdbcType=VARCHAR},
			PASSWORD = #{password,jdbcType=VARCHAR},
			NICKNAME = #{nickname,jdbcType=VARCHAR},
			REAL_NAME = #{realName,jdbcType=VARCHAR},
			PHONE = #{phone,jdbcType=VARCHAR},
			EMAIL = #{email,jdbcType=VARCHAR},
			STATUS = #{status,jdbcType=TINYINT},
			REMARK = #{remark,jdbcType=VARCHAR},
			UPDATE_PERSON = #{updatePerson,jdbcType=INTEGER},
			UPDATE_TIME = now(),
			VERSION = VERSION + 1
			where ID = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="editSelective" parameterType="org.myStudy.entity.User">
		update <include refid="Base_Table" />
		<set>
			<if test="userName != null">USER_NAME = #{userName,jdbcType=VARCHAR},</if>
			<if test="password != null">PASSWORD = #{password,jdbcType=VARCHAR},</if>
			<if test="nickname != null">NICKNAME = #{nickname,jdbcType=VARCHAR},</if>
			<if test="realName != null">REAL_NAME = #{realName,jdbcType=VARCHAR},</if>
			<if test="phone != null">PHONE = #{phone,jdbcType=VARCHAR},</if>
			<if test="email != null">EMAIL = #{email,jdbcType=VARCHAR},</if>
			<if test="status != null">STATUS = #{status,jdbcType=TINYINT},</if>
			<if test="remark != null">REMARK = #{remark,jdbcType=VARCHAR},</if>
			UPDATE_PERSON = #{updatePerson,jdbcType=INTEGER},
			UPDATE_TIME = now(),
			VERSION = VERSION + 1,
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 添加用户角色关系 -->
	<insert id="addUserRole">
		insert ignore into T_REL_USER_ROLE
			(USER_ID, ROLE_ID, CREATOR, CREATE_TIME, UPDATE_PERSON, UPDATE_TIME, VERSION)
		values 
		<foreach collection="roles" item="role" open="(" close=")" separator=",">
			#{userId,jdbcType=INTEGER}, #{role.id,jdbcType=INTEGER},
			#{creator,jdbcType=INTEGER}, now(), #{updatePerson,jdbcType=INTEGER}, now(), 0
		</foreach>
	</insert>
	
	<!-- 删除用户角色关系 -->
	<delete id="deleteUserRole">
		delete from T_REL_USER_ROLE
		where ID = #{userId,jdbcType=INTEGER}
		<if test="query != null and query.queryFilters != null">
    		<foreach collection="query.queryFilters" item="queryFilter" open=" and " separator=" and ">
    			<choose>
    				<when test="queryFilter.operator.value == 0">${queryFilter.columnName} like CONCAT('%', #{queryFilter.value}, '%')</when>
    				<when test="queryFilter.operator.value == 1">${queryFilter.columnName} = #{queryFilter.value}</when>
    				<when test="queryFilter.operator.value == 2">${queryFilter.columnName} <![CDATA[<>]]> #{queryFilter.value}</when>
    				<when test="queryFilter.operator.value == 3">${queryFilter.columnName} <![CDATA[<]]> #{queryFilter.value}</when>
    				<when test="queryFilter.operator.value == 4">${queryFilter.columnName} <![CDATA[<=]]> #{queryFilter.value}</when>
    				<when test="queryFilter.operator.value == 5">${queryFilter.columnName} > #{queryFilter.value}</when>
    				<when test="queryFilter.operator.value == 6">${queryFilter.columnName} >= #{queryFilter.value}</when>
    				<when test="queryFilter.operator.value == 7">${queryFilter.columnName} in #{queryFilter.value}</when>
    				<when test="queryFilter.operator.value == 8">${queryFilter.columnName} not in #{queryFilter.value}</when>
    				<when test="queryFilter.operator.value == 9">${queryFilter.columnName} is null</when>
    				<when test="queryFilter.operator.value == 10">${queryFilter.columnName} is not null</when>
    			</choose>
    		</foreach>
        </if>
	</delete>
</mapper>